.category-actions {
    display: flex;
    gap: 20px;
  }
  
  .category-form {
    background: transparent;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 55%; 
    border-radius: 0px;
    
  }
  
  
  .category-form h2 {
    margin-bottom: 15px;
    font-size: 24px;
    }
  
  .category-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .category-form input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  
  .category-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .category-form button:hover {
    background-color: #45a049;
  }
  
  .product-search {
    margin-top: 10px; /* Products Search: гэсэн бичгийн доор зайтай */
    display: flex;
    justify-content: center;
  }
  
  .product-search form {
    display: block;
    margin-bottom: 8pxs;
    gap: 8px;
  }
  
  .product-search input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .product-search button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-search button:hover {
    background-color: #45a049;
  }
  